<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-ripple/paper-ripple.html">
<link rel="import" href="../paper-shadow/paper-shadow.html">
<link rel="import" href="../paper-shadow/paper-shadow.css">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>

</script>
<polymer-element name="menu-inicio-test" noscript>
    <template>
        <style>
            .banner{
                background: url(../../images/banner.svg) no-repeat;
                background-position: center;
                background-color: #32CD32;
            }
            .acerca{
                background: url(../../images/acerca.svg) no-repeat;
                background-position: center;
                background-color: #cd92d7;
            }
            .envivo{
                background: url(../../images/al_aire.svg) no-repeat;
                background-position: center;
                background-color: #ff8964 ;
            }
            .certifica{
                background: url(../../images/certifica.svg) no-repeat;
                background-position: center;
                background-color: #cbff8f;
            }
            .blog{
                background: url(../../images/blog.svg) no-repeat;
                background-position: center;
                background-color: #7fdde9;
            }
            .starttool{
                background: url(../../images/certifica.svg) no-repeat;
                background-position: center;
                background-color: #fbe58c;
            }
            .calendar{
                background: url(../../images/calendar.svg) no-repeat;
                background-position: center;
                background-color: #b8f5c9;
            }
            .redes{
                background: url(../../images/blog.svg) no-repeat;
                background-position: center;
                background-color: #FFFCCC;
            }
            /* background label cards */
            .lblacerca{ background-color: #b967c7; }
            .lblenvivo{ background-color:  #ff6f42; }
            .lblcertifica{ background-color: #add480; }
            .lblblog{ background-color: #4ec2f6; }
            .lblstart{ background-color: #fbbf2c; }
            .lblredes{ background-color: #f5bd19; }
            .lblcalendar{ background-color: #1ce8b5; }
            
            .cat-name{
                height: 45px;
                padding: 0px 16px;
                font-size: 1em;
                color: #FFF;
                margin-top: 221px;
            }
            @media only screen and (min-width: 1245px){
                section > * {
                    margin: 8px 2px;
                }

                .card{
                    position: relative;
                    display: inline-block;
                    width: 239px;
                    height: 266px;
                    vertical-align: top;
                }

                #banner{
                    width:984px;
                    height:548px; 
                }
                .dashboard {
                    margin: auto;
                    width: 1246px;
                }
            }

            @media only screen and (min-width: 945px) and (max-width: 1245px){
                section > * {
                    margin: 6px 1px;
                }
                .card{
                    position: relative;
                    display: inline-block;
                    width: 180px;
                    height: 200px;
                    vertical-align: top;
                }

                #banner{
                    width: 740px;
                    height: 412px;
                }
                .dashboard {
                    margin: auto;
                    width: 944px;
                }
                .cat-name{
                    margin-top: 160px;
                    height: 40px;
                }
            }

            @media only screen and (min-width: 570px) and (max-width: 944px){
                section > * {
                    margin: 6px 1px;
                }
                .card{
                    position: relative;
                    display: inline-block;
                    width: 180px;
                    height: 200px;
                    vertical-align: top;
                }
                .eliminar{
                    display: none;
                }
                .dashboard {
                    margin: auto;
                    width: 570px;
                }
                .cat-name{
                    margin-top: 160px;
                    height: 40px;
                }

            }

            @media only screen and (min-width: 375px) and (max-width: 569px){
                section > * {
                    margin: 6px 1px;
                }
                .card{
                    position: relative;
                    display: inline-block;
                    width: 180px;
                    height: 200px;
                    vertical-align: top;
                }
                .eliminar{
                    display: none;
                }
                .dashboard {
                    margin: auto;
                    width: 375px;
                }
                .cat-name{
                    margin-top: 160px;
                    height: 40px;
                }
            }
            @media only screen  and (max-width: 374px){
                section > * {
                    margin: 6px 1px;
                }
                .card{
                    position: relative;
                    display: inline-block;
                    width: 135px;
                    height: 150px;
                    vertical-align: top;
                }
                .eliminar{
                    display: none;
                }
                .dashboard {
                    margin: auto;
                    width: 285px;
                }
                .cat-name{
                    margin-top: 130px;
                    height: 20px;
                }
            }

        </style>

        <div class="dashboard">
            <h1 class="media-query">BIENVENIDO</h1>
            <section style="float:left; margin-right:4px;" class="eliminar">
                <div id="banner" class="card" onmouseover="$(this).children('paper-shadow').attr('z', '3');"  onmouseout="$(this).children('paper-shadow').attr('z', '1');">
                    <div class="label" fit>Banner</div>
                    <paper-shadow  z="1" ></paper-shadow>
                    <paper-ripple class="recenteringTouch" fit></paper-ripple>
                </div>
            </section>
            <section>
                <div  class="card redes"  onmouseover="$(this).children('paper-shadow').attr('z', '3');"  onmouseout="$(this).children('paper-shadow').attr('z', '1');">
                    <div class="label cat-name lblredes" fit>Redes</div>
                    <paper-shadow  z="1" ></paper-shadow>
                    <paper-ripple class="recenteringTouch" fit></paper-ripple>
                </div>
                <br class="eliminar" />
                <div  class="card calendar"  onmouseover="$(this).children('paper-shadow').attr('z', '3');"  onmouseout="$(this).children('paper-shadow').attr('z', '1');">
                    <div class="label cat-name lblcalendar" fit>Calendario</div>
                    <paper-shadow  z="1" ></paper-shadow>
                    <paper-ripple class="recenteringTouch" fit></paper-ripple>
                </div>
                <br class="eliminar" />
                <div  class="card acerca"  onmouseover="$(this).children('paper-shadow').attr('z', '3');"  onmouseout="$(this).children('paper-shadow').attr('z', '1');">
                    <div class="label cat-name lblacerca" fit>Acerca</div>
                    <paper-shadow  z="1" ></paper-shadow>
                    <paper-ripple class="recenteringTouch" fit></paper-ripple>
                </div>
                <div  class="card envivo"  onmouseover="$(this).children('paper-shadow').attr('z', '3');"  onmouseout="$(this).children('paper-shadow').attr('z', '1');">
                    <div class="label cat-name lblenvivo" fit>En Vivo</div>
                    <paper-shadow  z="1" ></paper-shadow>
                    <paper-ripple class="recenteringTouch" fit></paper-ripple>
                </div>
                <div  class="card certifica"  onmouseover="$(this).children('paper-shadow').attr('z', '3');"  onmouseout="$(this).children('paper-shadow').attr('z', '1');">
                    <div class="label cat-name lblcertifica" fit>Certificate</div>
                    <paper-shadow  z="1" ></paper-shadow>
                    <paper-ripple class="recenteringTouch" fit></paper-ripple>
                </div>
                <div  class="card blog"  onmouseover="$(this).children('paper-shadow').attr('z', '3');"  onmouseout="$(this).children('paper-shadow').attr('z', '1');">
                    <div class="label cat-name lblblog" fit>Blog</div>
                    <paper-shadow  z="1" ></paper-shadow>
                    <paper-ripple class="recenteringTouch" fit></paper-ripple>
                </div>
                <div  class="card starttool"  onmouseover="$(this).children('paper-shadow').attr('z', '3');"  onmouseout="$(this).children('paper-shadow').attr('z', '1');">
                    <div class="label cat-name lblstart" fit>Start-Tools</div>
                    <paper-shadow  z="1" ></paper-shadow>
                    <paper-ripple class="recenteringTouch" fit></paper-ripple>
                </div>
            </section>
        </div>

    </template>
</polymer-element>


