<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-ripple/paper-ripple.html">
<link rel="import" href="../paper-shadow/paper-shadow.html">
<link rel="import" href="../paper-shadow/paper-shadow.css">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>

</script>
<polymer-element name="menu-inicio-test" noscript>
    <template>
        <style>
            section > * {
                margin: 6px 1px;
            }

            .card{
                position: relative;
                display: inline-block;
                width: 180px;
                height: 200px;
                vertical-align: top;
                background-color: #fff;
            }

            @media only screen and (max-width: 944px){
                .eliminar{
                    display: none;
                }

            }

        </style>
        <h1 class="media-query">BIENVENIDO</h1>
        <section style="float:left; margin-right:4px;" class="eliminar">
            <div  class="card" onmouseover="$(this).children('paper-shadow').attr('z','3');"  onmouseout="$(this).children('paper-shadow').attr('z','1');" style="width:740px; height:412px;">
                <div class="label" fit>Banner</div>
                <paper-shadow  z="1" ></paper-shadow>
                <paper-ripple class="recenteringTouch" fit></paper-ripple>
            </div>
        </section>
        <section>
            <div  class="card"  onmouseover="$(this).children('paper-shadow').attr('z','3');"  onmouseout="$(this).children('paper-shadow').attr('z','1');">
                <div class="label" fit>Redes</div>
                <paper-shadow  z="1" ></paper-shadow>
                <paper-ripple class="recenteringTouch" fit></paper-ripple>
            </div>
            <br class="eliminar" />
            <div  class="card"  onmouseover="$(this).children('paper-shadow').attr('z','3');"  onmouseout="$(this).children('paper-shadow').attr('z','1');">
                <div class="label" fit>Calendario</div>
                <paper-shadow  z="1" ></paper-shadow>
                <paper-ripple class="recenteringTouch" fit></paper-ripple>
            </div>
            <br class="eliminar" />
            <div  class="card"  onmouseover="$(this).children('paper-shadow').attr('z','3');"  onmouseout="$(this).children('paper-shadow').attr('z','1');">
                <div class="label" fit>Acerca</div>
                <paper-shadow  z="1" ></paper-shadow>
                <paper-ripple class="recenteringTouch" fit></paper-ripple>
            </div>
            <div  class="card"  onmouseover="$(this).children('paper-shadow').attr('z','3');"  onmouseout="$(this).children('paper-shadow').attr('z','1');">
                <div class="label" fit>En Vivo</div>
                <paper-shadow  z="1" ></paper-shadow>
                <paper-ripple class="recenteringTouch" fit></paper-ripple>
            </div>
            <div  class="card"  onmouseover="$(this).children('paper-shadow').attr('z','3');"  onmouseout="$(this).children('paper-shadow').attr('z','1');">
                <div class="label" fit>Certificate</div>
                <paper-shadow  z="1" ></paper-shadow>
                <paper-ripple class="recenteringTouch" fit></paper-ripple>
            </div>
            <div  class="card"  onmouseover="$(this).children('paper-shadow').attr('z','3');"  onmouseout="$(this).children('paper-shadow').attr('z','1');">
                <div class="label" fit>Blog</div>
                <paper-shadow  z="1" ></paper-shadow>
                <paper-ripple class="recenteringTouch" fit></paper-ripple>
            </div>
            <div  class="card"  onmouseover="$(this).children('paper-shadow').attr('z','3');"  onmouseout="$(this).children('paper-shadow').attr('z','1');">
                <div class="label" fit>Start-Tools</div>
                <paper-shadow  z="1" ></paper-shadow>
                <paper-ripple class="recenteringTouch" fit></paper-ripple>
            </div>
        </section>
    </template>
</polymer-element>


